<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Appium Suite" >

    <test name="All Tests on Real Device">
        <parameter name="udid" value="9HF6Q8AAGIOBBAR8"/>
        <parameter name="systemPort" value="8200"/>
        <parameter name="platformVersion" value="10"/>
        <parameter name="appPath" value="C:/apps/myapp.apk"/>
        <packages>
            <package name="tests"/>
        </packages>
    </test>

</suite>




